<div class="border border-cyan-500 flex flex-col">
  <h1 class="text-black" >Dasboard, my venues</h1>
  <ul>
    <% @venues.each do |venue| %>
      <li>
        <div class="group relative w-full flex justify-center items-center py-2.5 px-4 border border-transparent text-sm leading-5 font-medium rounded-md bg-primary-600 hover:bg-primary-700 focus:outline-none">
          <div class="text-base flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 -ml-1 mr-2" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd"></path>
            </svg>
            <%= link_to edit_venue_path(venue) do %>
              <span class="absolute inset-0" aria-hidden="true"></span>
              <h2 class="text-lg text-gray-500 focus:outline-none"><%= venue.name %></h2>
              <p class="text-gray-400"><%= venue.address %></p>
            <% end %>
          </div>
        </div>
        <div>
          <%= link_to "Add items for sale", new_venue_package_path(venue), class: "btn btn-primary ml-10" %>
          <%= link_to "View and edit you items", my_venue_packages_path(venue), class: "btn btn-primary ml-10" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
