<div class=" border-cyanborder-500 flex flex-col">
  <h1 class="text-black text-lg" >Dasboard  My venues</h1>
  <ul>
    <% @venues.each do |venue| %>
      <li>
        <div class="grid grid-cols-2 relative w-3/4 flex justify-center items-center py-2.5 px-4 border border-black text-sm leading-5 font-medium rounded-md bg-primary-600 hover:bg-primary-700 focus:outline-none">
          <div class="text-base flex items-center border">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 -ml-1 mr-2" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd"></path>
            </svg>
            <%= link_to edit_venue_path(venue) do %>

              <h2 class="text-lg text-gray-500 focus:outline-none"><%= venue.name %></h2>
              <p class="text-gray-400"><%= venue.address %></p>
            <% end %>
          </div>

        <div class="border border-cyan-600mx-auto">
          <%= link_to "Add items for sale", new_venue_package_path(venue), class: "btn btn-primary ml-10 my-1 w-3/4" %>
          <%= link_to "View and edit packages", my_venue_packages_path(venue), class: "btn btn-primary ml-10 my-1 w-3/4" %>
        </div>
        </div>

      </li>
    <% end %>
  </ul>
</div>
