<h1 class="text-black text-3xl font-bold">Discover <%= params[:spaces].capitalize %> Spaces</h1>
<div class="m-4 p-4 ">
  <% @venues.each do |venue| %>
    <div class="border border-black grid grid-cols-1 gap-4 p-4 rounded-2xl mb-3">
      <% if venue.photos.attached? %>
        <!-- Create relative container for the image grid -->
        <div class="relative  rounded h-80 w-full grid grid-cols-3">

          <!-- Left-side large image, spans 2 rows and 2 columns -->
          <div class="relative col-span-2 top-0 left-0 bottom-0  overflow-hidden mr-4" style="padding-bottom: 20%" >
            <%= cl_image_tag venue.photos[0].key, alt: venue.name + "1", class: "absolute object-cover h-full w-full rounded-lg" %>
          </div>

          <!-- Top-right small image -->
          <div class="grid grid-rows-2">
            <div class="relative overflow-hidden mb-4" style="padding-bottom: 20%">
              <%= cl_image_tag venue.photos[0].key, alt: venue.name + "2", class: "absolute object-cover h-full w-full rounded-lg" %>
            </div>

            <!-- Bottom-right small image -->
            <div class="relative overflow-hidden" style="padding-bottom: 20%">
              <%= cl_image_tag venue.photos[0].key, alt: venue.name + "3", class: "absolute object-cover h-full w-full rounded-lg" %>
            </div>
          </div>

        </div>
      <% else %>
        <p>No venues found.</p>
      <% end %>

      <!-- Venue details -->
      <div class="ml-2">
        <h5 class="text-left text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
        <p class="text-pink-800 font-normal text-xl">
          <% if venue.google_data["price_level"].present? %>
            <p class="text-pink-800 font-normal text-xl">
              <%= "€" * venue.google_data["price_level"].to_i %>
            </p>
          <% else %>
            <p>No Price data</p>
          <% end %>
          <p class="text-pink-800 my-1 text-sm text-left "><%= venue.categories.capitalize + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %>
            <span class="ml-2">(<%= venue.google_data["user_ratings_total"] %>)</span>
          </p>
          <span class="text-black font-semibold text-sm text-left my-1">
            <i class="fa-solid fa-location-dot"></i><%="  " + venue.address%>
            <i class="ml-4 text-xl fa-solid fa-person-walking"></i><span class="text-pink-800 text-xs font-extralight text-left mx-2"> 17 mins</span>
            <i class="fa-solid fa-bus"></i><span class="text-pink-800 text-sm font-extralight text-left mx-2"> 5 mins</span>
          </span>

          <div class="facility-icons overflow-hidden hover:overflow-visible m-2">
            <%= facility_icons(venue) %>
          </div>

          <div class="flex items-center">
            <button class="bg-gray-900 hover:bg-gray-400 text-gray-800 font-bold py-2 px-6 my-1 rounded inline-flex items-center">
              <span class="text-base font-light text-white ml-3">Get a spot</span>
            </button>
            <i class="fa-solid fa-share-nodes text-3xl font-thin ml-10"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
