<div class="w-full flex justify-between p-8">
  <h2 class="text-xl font-light"><%= "Good morning#{' ' + current_user.first_name}!" if current_user.first_name.present? %></h2>
  <div class="justify-self-end text-xl text-slate-400 font-light"><i class="fa-regular fa-bell"></i></div>
</div>
<div class="flex px-8 pb-4">
  <a href="" class="text-2xl font-bold">Commonspaces </a>
  <p class="px-4 text-lg"> in </p>
  <a href="" class="text-2xl font-bold"> Barcelona</a>
</div>
<%= render "map", venues: @venues %>
<!-- Carousel new card populated with user created venues -->
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for working!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @cafe_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-2 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class=" line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-left text-sm ml-2"><%= venue.categories + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %> </p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Carousel 2 populated with user created venues -->
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for Study!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @restaurant_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-3 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class="line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-sm text-left ml-2"><%= venue.categories.capitalize! + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %></p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for Meetings!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @bar_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-3 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class="line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-sm text-left ml-2"><%= venue.categories + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %> </p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
