<%# Form Inputs to get search results %>
<div data-controller="placesapi" data-placesapi-types="cafe,restaurant,library" class="flex items-center justify-center">
<div class="slider-carousel bg-white" data-controller="swiper">
  <h1 class='text-black font-bold text-4xl'>Search places near you!</h1>

  <input data-placesapi-target="place" type="text" placeholder="Search for a place" class="p-1 m-3">
    <button data-placesapi-target="locationButton" class="p-2 bg-blue-500 text-white rounded">Get Current Location</button>
      <button data-action="click->placesapi#greet">Saudar</button>
    <!-- Slider for setting the search radius -->
    <label for="radius">Search Radius: <span id="radius-value">1000</span> meters</label>
    <input id="radius-slider" data-placesapi-target="radiusSlider" type="range" min="0" max="10000" value="1000" class="p-1 m-3">
  </div>
</div>
<div class='mx-2'>
<!-- Carousel 1 populated with user created venues -->
<div class="swiper mySwiper bg-white" data-controller="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
     <% @venues.each_with_index do |venue, index| %>

        <div class="swiper-slide">
         <%= link_to venue_path(venue) do %>
          <div class="card-venue-idx" id="index">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name %>
              <% else %>
                <p>No images available for this venue.</p>
              <% end %>
              <h2><%= venue.name %></h2>
              <p><strong <%= venue.categories %>></strong></p>
              <p class= "address"><%= venue.address %></p>
              <p><strong><%= venue.amenities %></strong></p>

          </div>
          <% end %>
        </div>
      <% end %>

    ...
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

  <!-- Loop for creating multiple Swiper containers for different place types -->
<div class='mt-2'>
    <div class='mb-2'><% ["Cafe's", "Restaurant's", "Libraries"].each_with_index do |place_type, index| %>
        <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'><%= place_type.capitalize %> near you!</h2>


      <div class="slider-carousel bg-white p-2" data-controller="swiper">
        <div class="swiper mySwiper<%= index %>">
          <div class="swiper-wrapper" id="results-container-<%= index %>">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    <% end %>
</div>
</div>
</div>
