<div class="w-full flex justify-between p-8">
  <h2 class="text-xl font-light"><%= "Good morning#{current_user ? ' ' + current_user.first_name : ''}" %>!</h2>
  <div class="justify-self-end text-xl text-slate-400 font-light"><i class="fa-regular fa-bell"></i></div>
</div>
<div class="flex px-8 pb-4">
  <a href="" class="text-2xl font-bold">Commonspaces </a>
  <!-- Dropdown -->
  <div class="relative inline-block text-left" data-controller="header">
  <div data-action="click->header#toggleSpacesNav">
    <button type="button"  class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"  id="menu-button" aria-expanded="true" aria-haspopup="true">
      Commonspaces
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" data-header-target="spacesNav" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none" >
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <%= link_to "Work Spaces", discovery_venues_path(spaces: "work"), role: "menuitem", tabindex: "-1", id: "menu-item-0", class: "block px-4 py-2 text-sm text-gray-700" %>
      <%= link_to "Study Spaces", discovery_venues_path(spaces: "study"), role: "menuitem", tabindex: "-1", id: "menu-item-1", class: "block px-4 py-2 text-sm text-gray-700" %>
      <%= link_to "Meeting Spaces", discovery_venues_path(spcaes: "meeting"), role: "menuitem", tabindex: "-1", id: "menu-item-2", class: "block px-4 py-2 text-sm text-gray-700" %>
      <form method="POST" action="#" role="none">
        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
      </form>
    </div>
  </div>
</div>

  <p class="px-4 text-lg"> in </p>
  <a href="" class="text-2xl font-bold"> Barcelona</a>
</div>
<%= render "map", venues: @venues %>
<!-- Carousel new card populated with user created venues -->
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for working!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @cafe_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-2 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class=" line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-left text-sm ml-2"><%= venue.categories + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %> </p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Carousel 2 populated with user created venues -->
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for Study!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @restaurant_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-3 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class="line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-base text-left ml-2"><%= venue.categories.capitalize + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %></p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="swiper mySwiper bg-white h-28" data-controller="swiper">
  <h2 class='text-black font-bold text-2xl mt-2 ml-2 bg-white'>Most popular for Meetings!</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @bar_venues.each_with_index do |venue, index| %>
      <div class="swiper-slide">
        <%= link_to venue_path(venue) do %>
          <div class="w-60 max-w-sm bg-white border border-gray-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="relative" style="padding-bottom: 75%">
              <% if venue.photos.attached? %>
                <% photo = venue.photos.first %>
                <%= cl_image_tag photo.key, alt: venue.name, class: "absolute object-cover h-full w-full rounded-t-lg" %>
              <% else %>
                <%= image_tag("img2") %>
              <% end %>
            </div>
            <div class="relative p-3 w-full h-full">
              <div class="flex h-14 items-center overflow-hidden">
                <h5 class="line-clamp-2 text-left mx-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"><%= venue.name %></h5>
              </div>
            <% end %>
            <p class="text-pink-800 text-sm text-left ml-2"><%= venue.categories + " • " + venue.google_data["rating"].to_s + " " + ("⭐" * venue.google_data["rating"].to_i) %> </p>
            <div class=" ml-2 text-left text-red-500">
              <i class="fa-regular fa-heart"></i>
            </div>
            <div class="hidden text-left text-red-500">
              <i class="fa-solid fa-heart "></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
