<div>
  <h1 class="font-bold text-4xl">Venues#show</h1>

</div>
<div class="container">
  <div class="main-showpage">
    <div class="container-top flex flex-col">
    <%= @venue.name %>
      <div class="carousel-container no-hover-effect">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <!--<div class="carousel-indicators">
            <% @venue.photos.each_with_index do |photo, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">-->
            <% @venue.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag photo.key, alt: @venue.name, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>-->
        </div>
      </div>
      <div class="show-map">
        <div style="width: 100%; height: 100%;"
            data-controller="show-map"
            data-show-map-marker-value="<%= @marker.to_json %>"
            data-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="container-middle px-10">
      <div class="container-middle-card">
        <div class="cards-showpage">
          <% if @venue.photos.attached? && @venue.photos[0].present? %>
            <% @venue.photos.each_with_index do |photo, index| %>
              <% next if index.zero? || photo.nil? || index > 2 %>
              <div class="card hover-effect" style="width: 18rem;">
                <%= cl_image_tag photo.key, alt: @venue.name, class: "venue-thumbnail-img" %>
                <div class="card-body">
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="description relative">
          <% if @venue_owner.avatar.attached? %>
            <p><strong>Venue Owner: <%= cl_image_tag @venue.user.avatar.key, alt:"#{@venue.name}", class:'avatar border-white border-4 absolute -top-20 right-20'%></strong></p>
          <% end %>
          <p><strong>Name:</strong> <%= @venue.name %></p>
          <p><strong>Hire Details:</strong> Venue hire for network</p>
          <p><strong>Location:</strong> <%= @venue.address %></p>
          <p><strong>Description:</strong> <%= @venue.amenities %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Package and edits if venue owner -->
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4'>

    <% @packages.each do |package| %>
      <%= link_to venue_package_path(@venue, package) do %>

        <div class="px-10 grid grid-cols-2 relative w-100  gap-1 text-sm leading-5 font-medium rounded-md bg-primary-600 hover:bg-primary-700 focus:outline-none">
          <div class="h-full text-base grid grid-rows-4 overflow-hidden hover:overflow-visable p-1">
            <h2 class="text-lg text-gray-500 focus:outline-none"><%= package.package_name.capitalize %></h2>
            <p class="text-gray-400"><%= package.package_description %> </p>
            <p class="text-gray-400"><%= "#{package.package_duration} hours" if package.package_duration %></p>
            <p class="text-gray-400">€<%= package.package_price %></p>
          </div>
          <div class='border border-white'>
            <% if package.photo.key %>
              <%= cl_image_tag package.photo.key, alt: "PICTURE", class: "object-cover w-50 h-full" %>
            <% else %>
              <%= image_tag "avatar.png", class: "h-10 w-10 rounded-full" %>
            <% end %>
          <% end %>
          </div>
        </div>

    <% end %>

</div>
</div>
