<div>
  <h1 class="font-bold text-4xl">Venues#show</h1>
</div>
<div class="px-10 mx-10 container">
  <div class="container-top flex flex-col px-6">
    <b><h2><%= @venue.name %></h3></b>
      <% @venue.photos.each_with_index do |photo, index| %>
        <div class="relative w-full">
          <%= cl_image_tag photo.key, alt: @venue.name, class: "object-cover d-block h-full w-full rounded" %>
      <% end %>
      <% if @venue_owner.avatar.attached? %>
        <%= cl_image_tag @venue.user.avatar.key, alt:"#{@venue.name}", class:'avatar mt-4 border-white border-4 absolute bottom-2 end-1'%>
      <% end %>
      </div>
      </div>
      <div class="px-10 pt-10 pb-4">
        <p><strong>Name:</strong> <%= @venue.name %></p>
        <p><strong>Hire Details:</strong> Venue hire for network</p>
        <p><strong>Location:</strong> <%= @venue.address %></p>
        <p><strong>Description:</strong> <%= @venue.amenities %></p>
      </div>
  <!-- Add Package and edits if venue owner -->
  <div class='px-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4'>

    <% @packages.each do |package| %>
      <%= link_to venue_package_path(@venue, package) do %>

        <div class="flex w-4/5 h-64 m-4">
          <div class="flex-1 flex-col w-3/6 p-1">
            <div class="h-20 overflow-hidden hover:overflow-visable text-gray-700" ><b><p><%= package.package_name.capitalize %></p></b></div>
            <div class="h-20 overflow-hidden hover:overflow-visable text-gray-500"><p><%= package.package_description %> </p></div>
            <div class="h-10 overflow-hidden hover:overflow-visable text-gray-400"><p><%= "#{package.package_duration} hours" if package.package_duration %></p></div>
            <div class="h-10 overflow-hidden hover:overflow-visable text-gray-400"><p>€<%= package.package_price %></p></div>
          </div>
          <div class="flex-1 w-3/6">
            <% if package.photo.key %>
              <%= cl_image_tag package.photo.key, alt: "PICTURE", class: "object-cover h-full w-full rounded" %>
            <% else %>
                <%= image_tag "avatar.png", class: "h-10 w-10 rounded-full" %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
</div>
</div>
