<div class="fixed bottom-0 left-0 right-0 bg-white md:hidden z-50 mt-auto justify-self-end w-screen">
  <nav class="flex flex-grow justify-around py-4 ">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: 'w-50 h-50' %>
    <% end %>
    <%= link_to venues_path do %>
      <i class="fa-solid fa-heart text-4xl"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fa-solid fa-magnifying-glass text-4xl"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-user text-4xl"></i>
    <% end %>
  </nav>

</div>
