<nav class="sticky bottom-0 bg-white flex md:hidden justify-around py-4">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class: 'w-50 h-50' %>
  <% end %>
  <%= link_to venues_path do %>
    <i class="fa-solid fa-heart text-4xl"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-magnifying-glass text-4xl"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-regular fa-user text-4xl"></i>
  <% end %>
</nav>
